
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* REST end */
.navContainer{
  background-color: white;
  /* border: 1px solid #000; */

}
.navColor{
  border-bottom: 3px solid #DDDDDD ;
  background-color: #DDDDDD;
}
.nav_one{
  margin: 0 auto;
  text-align: center;
  font-family: 'Krona One', sans-serif;
}
.nav_one a{
  font-size: 40px;
}
.nav_ul{
  max-width: 800px;
  font-size: 20px;
  font-family: 'Krona One', sans-serif;
}
.nav_ul li{
  border-bottom: 3px solid #ffffff00 ;
  padding: 15px;
}
.nav_ul li:hover{
  border-bottom: 3px solid #000 ;
  font-weight: bold;
}
.banner_container{
  padding-top: 85px;

}
.banner{
  /* display: flex; */
  background-attachment: fixed;
  background-image: url("https://i.imgur.com/yOP49Bd.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 100%;
  height: 700px;
  text-align: center;
  line-height: 700px;  
  font-size: 80px;
  color: white;
}
@media (max-width: 375px) { 
  .nav_one{
    text-align: start;
  }
  .nav_ul{
    text-align: center;
  }
  .nav_one{
    justify-content: space-between;
  }
 }